/* ============================================================================
   Side Navigation Styles
============================================================================ */

.sidenav {
  position: fixed;
  top: auto; /* match navbar height */
  left: 0;
  height: calc(100% - 82px);
  width: 200px;
  background-color: #fff;
  padding-top: 1rem;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, transform 0.3s ease;
  overflow-x: hidden;
  z-index: 999;
}

.sidenav.closed {
  width: 60px;
}

.sidenav-toggle {
  background-color: #6dc2ff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-icon {
  font-size: 1.5rem;
}

/* Navigation Links */
.sidenav-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidenav-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.sidenav-link:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.sidenav-icon {
  font-size: 1.8rem;
  margin-right: 10px;
}

/* ============================================================================
   Responsive
============================================================================ */
@media screen and (max-width: 768px) {
  .sidenav {
    transform: translateX(-100%);
  }

  .sidenav.open {
    transform: translateX(0);
  }

  .sidenav.closed {
    transform: translateX(-100%);
  }

  .sidenav-toggle {
    position: fixed;
    top: 92px;
    left: 10px;
    z-index: 1100;
  }
}
